@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Apercu";
  src: url("/public/fonts/apercu/ApercuPro-Medium.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("/public/fonts/apercu/ApercuPro-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

.cube-track{
  background-color: #fff;
  background: repeating-linear-gradient(150deg, #00000020, #00000020 0.5px, transparent 1px, transparent 40px) 
            , repeating-linear-gradient(30deg, #00000020, #00000020 0.5px, transparent 1px, transparent 40px)
            , repeating-linear-gradient(90deg, #00000020, #00000020 1px, transparent 1px, transparent 41px);
  background-size: 81px 46px;	
  background-position: center; 
}